[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "public"]
	path = public
	url = git@github.com:zhangtaochina/zhangtaochina.github.io.git
	branch = master
